@import '../../../styles/vars.scss';
@import '../../../styles/globals.scss';

.app__products {
  padding: 2.5rem;

  .app__products-space {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}