@import "../../styles/vars.scss";
@import "../../styles/globals.scss";

.app__register {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app__register-logo {
    width: 14rem;
    margin-bottom: 2rem;
  }

  .app__register-card {
    background-color: $white-color;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    margin: 0 20px;
    padding: 1.5rem 1rem;
    width: 20rem;

    .app__register-title {
      text-align: center;
    }
  }
}
