@import '../../styles/vars.scss';
@import '../../styles/globals.scss';

.app__productcard {
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 380px;

  aspect-ratio: 5/6;
  padding: 10px 0;

  border: 1px solid $primary-color;
  border-radius: 10px;
  background: $white-color;

  position: relative;

  .app__productcard-price {
    position: absolute;
    padding: 10px;

    background: #ffeeb6b4;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(211, 208, 162, 0.767);

    left: 0;
    margin: 10px;

    p {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0;
    }
  }

  .app__productcard-image {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  }

  .app__productcard-info {
    flex-direction: column;

    gap: 5px;
    margin: 0 10px;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }

    .app__productcard-buttons {
      background-color: $border-pallet-color;
      border-radius: 10px;

      margin-top: 10px;

      .app__productcard-button {
        padding: 5px 5px;

        color: $black-color;
        background-color: $primary-color;
        
        &:first-of-type {
          border-radius: 10px 0 0 10px;
        }

        &:last-of-type {
          border-radius: 0 10px 10px 0;
        }

        &:hover {
          background-color: $background-color;
        }
      }

      .app__productcard-quantity {
        padding: 5px 10px;
        background-color: transparent;
        border: none;
        width: 25px;

        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;

        &:focus {
          outline: none;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0 15px;
        margin: 0;
      }
    }
  }
}